<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Password</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="page-container">
  <div class="container add-password-container">
    <h2>Add New Password</h2>
    <form action="/save-password" method="post">
      <form>
        <label for="URL">URL:</label>
        <input type="text" id="URL" name="URL" placeholder="URL" required />

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Username" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password" required />

        <label for="confirmPassword">Retype Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Retype Password" required />

        <div class="button-group">
          <button type="submit">Add password</button>
          <button type="button" onclick="window.location.href='homepage.html'">Cancel</button>
        </div>
      </form>
    </form>
  </div>
</div>
</body>
</html>
