<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="page-container">
  <div class="container">
    <h2>Change Password</h2>

    <div style="margin-bottom: 20px" th:if="${status == 'error'}" class="failure-message" th:text="${message}"></div>

    <form th:action="@{/change-password}" method="post">
      <label for="oldPassword">Old Password:</label>
      <input type="password" id="oldPassword" name="oldPassword" placeholder="Enter Old Password" required oninput="checkPasswordsSame()"/>

      <div id="checkPasswordIndicator" class="indicator"></div>

      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" placeholder="Enter New Password" required oninput="checkNewPasswordStrength()"/>

      <div id="passwordStrength" class="indicator"></div>

      <label for="confirmPassword">Confirm New Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Re-type New Password" required oninput="validateNewPassword()"/>

      <div id="validatePassword" class="indicator"></div>

      <div class="button-group">
        <button type="submit" id="changeButton">Change Password</button>
        <button type="button" class="cancel-button" onclick="window.location.href='/home'">Cancel</button>
      </div>
    </form>
  </div>
</div>
<script src="changePasswordValidator.js" defer></script>
</body>
</html>
