<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="page-container">
    <div class="container">
        <h2>Welcome, <span th:text="${username}">User</span>!</h2>
        <h3>Your Password Entries</h3>
        <table class="homepage-table">
            <thead>
            <tr>
                <th>Service Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${accounts}">
                <td th:text="${entry.URL}"></td>
                <td th:text="${entry.username}"></td>
                <td th:text="${entry.password}"></td>
                <td>
                    <a href="#" th:href="@{/delete-password/{id}(id=${entry.ID})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="link-container">
            <a href="/add-password">Add New Password</a>
            <a href="/change-password">Change Password</a>
            <a href="/delete-account" class="delete-account">Delete My Account</a>
        </div>

        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>
</body>
</html>
